.git

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# ---------------- BackEnd -------------------------

/backend/static/

# IDE 
**/.idea/
.idea
*.iml

# -------------- Front End -----------------------

# Node dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# production
build

# misc
.DS_Store

npm-debug.log*
yarn-debug.log*
yarn-error.log*

